<div class="background-image">
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row center m-5">
        <h3>Register</h3>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">First Name: </label>
          <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Last Name: </label>
          <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Gender: </label>
          <select class="form-control">
            <option value="">-select-</option>
            <option value="">Male</option>
            <option value="">Female</option>
            <option value="">Others</option>
          </select>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Date Of Birth: </label>
          <input type="date" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Phone: </label>
          <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Email: </label>
          <input type="email" name="" id="" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Username: </label>
          <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Password: </label>
          <input type="password" name="" id="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <label for="" class="form-label">Confirm password : </label>
          <input type="password" name="" id="confirm-password" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <div> </div>
                 <div>
                     <button class="btn"> Submit </button>
                 </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>