<app-navbar></app-navbar>
<div class="container">
    <div class="left-sidebar">
        <div class="friend-request">
            <p>Follow Requests</p>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user1.jpg" alt="user">
                        <span>Jason Bond</span>
                </div>
                <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user2.jpg" alt="user">
                        <span>Archie Andrews</span>
                </div>
            <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user3.jpg" alt="user">
                        <span>Bonnie Bennet</span>
                </div>
                <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user4.jpg" alt="user">
                        <span>Cheryl Blossom</span>
                </div>
                <button class="action-unfollow">Unfollow</button>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        <div class="write-post-container">
            <div class="user-profile">
                <img src="assets/images/user5.jpg">
                <div>
                    <p>John Nicholson</p>
                </div>
            </div>

            <div class="post-input-container">
                <textarea rows="3" placeholder="What's on your mind,John?"></textarea>
            </div>
        </div>
    </div>

    <div class="right-sidebar">
        <div class="sidebar-title">
           <h4>Advertisement</h4>
           <a href="#">Close</a>
        </div>
        <img src="assets/images/advertisement.jpg" class="sidebar-ads">
        

        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#">Hide Chat</a>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="assets/images/user10.jpg">
            </div>
            <p>Alison Mina</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/images/user9.jpg">
            </div>
            <p>Jackson Aston</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/images/user8.jpg">
            </div>
            <p>Samona Rose</p>
        </div>
    </div>
</div>