<app-navbar></app-navbar>
<div class="container">
    <div class="left-sidebar">
            <div class="friend-request">
            <p>Friend Requests</p>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user1.jpg" alt="user">
                        <span>Jason Bond</span>
                </div>
            <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user2.jpg" alt="user">
                        <span>Archie Andrews</span>
                </div>
            <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user3.jpg" alt="user">
                        <span>Bonnie Bennet</span>
                </div>
            <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user4.jpg" alt="user">
                        <span>Cheryl Blossom</span>
                </div>
            <button class="action-unfollow">Unfollow</button>
            </div>
            </div>

    </div>
    <div class="main-content">
        
    </div>
    <div class="right-sidebar">
        
    </div>
</div>