<app-navbar></app-navbar>
<div class="container">
    <div class="left-sidebar">
        <div class="friend-request">
            <p>Follow Requests</p>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user1.jpg" alt="user">
                        <span>Jason Bond</span>
                </div>
                <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user2.jpg" alt="user">
                        <span>Archie Andrews</span>
                </div>
            <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user3.jpg" alt="user">
                        <span>Bonnie Bennet</span>
                </div>
                <button class="action-follow">Follow</button>
            </div>
            <div class="user-row">
                <div class="user-info">
                    <img src="assets/images/user4.jpg" alt="user">
                        <span>Cheryl Blossom</span>
                </div>
                <button class="action-unfollow">Unfollow</button>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        <div class="write-post-container">
            <div class="user-profile">
                <img src="assets/images/user5.jpg">
                <div>
                    <p>John Nicholson</p>
                </div>
            </div>

            <div class="post-input-container">
                <textarea rows="3" placeholder="What's on your mind,John?"></textarea>
            </div>
            <div>
                <button class="btn">Add Post</button>
            </div>
        </div>
       <div class="post-container">
         <div class="user-profile">
             <img src="assets/images/user5.jpg">
             <div>
                <p>John Nicholson</p>
                <small>June 24 2021, 13:40pm</small>
             </div>
         </div>
         <p class="post-text">
              <span>All my life I thought air was free. Until I bought a bag of chips.</span>
             <a href="#">#funny</a><a href="#">#bored</a><a href="#">#smile</a>
         </p>
         <div class= "post-row">
             <div class="activity-icons">
             <div><img src="assets/images/like.png">120</div>
             <div><img src="assets/images/comments.png">45</div>
             <div><img src="assets/images/share.png">20</div> 
         </div>
       </div>
       
        <div class="post-container">
            <div class="user-profile">
                <img src="assets/images/user10.jpg">
                <div>
                   <p>Alison Mina<</p>
                   <small>June 23 2021, 12:40pm</small>
                </div>
            </div>
            <p class="post-text">
                <span>If you want to achieve success,stop asking for permission.</span>
                <a href="#">#motivation</a><a href="#">#insipiration</a><a href="#">#success</a>
            </p>
            <div class= "post-row">
                <div class="activity-icons">
                <div><img src="assets/images/like.png">120</div>
                <div><img src="assets/images/comments.png">45</div>
                <div><img src="assets/images/share.png">20</div> 
            </div>
       </div>
   </div>



    <div class="right-sidebar">

        <div class="sidebar-title">
            <h4>Conversation</h4>
            <a href="#">Hide Chat</a>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="assets/images/user10.jpg">
            </div>
            <p>Alison Mina</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/images/user9.jpg">
            </div>
            <p>Jackson Aston</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="assets/images/user8.jpg">
            </div>
            <p>Samona Rose</p>
        </div>
    </div>
</div>