<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ><h1>OurApp</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse navbar-btn pull-right" id="navbarSupportedContent">
     <form class="d-flex"  >
        <button class="btn btn-outline-success me-2 btn-nav " > <a routerLinkActive="active" [routerLink]="'register'" > Register </a></button>
        <button class="btn btn-outline-success btn-nav me-2"  > <a routerLinkActive="active" [routerLink]="'login'"> Login </a> </button>
      </form>
    </div> 
</nav>
<app-home></app-home>
<router-outlet></router-outlet>
