<div class="background-image">
    <div class="container">
      <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row g-3 m-5">
            <h1>Logout</h1>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <label for="" class="form-label"> Enter Password: </label>
              <input type="password" name="" id="password" class="form-control">
            </div>
           
          <div class="logout">
            <ul>
                <li><button class="btn">Logout</button></li>
                <li><button class="btn">Cancel</button></li>
            </ul>
        </div>
        </div>
      </div>
    </div>
    </div>
