<div class="container">
    <div class="row">
      <form>
          <div class="row m-8 g-3">
              <h2>Login</h2>
              <div class="col-12-col-sm-12-col-md-12-col-lg-12-col-xl-12-xxl-12">
                <label for="" class="form-label">Email: </label>
                <input type="text" class="form-control">
              </div>
              <div class="col-12-col-sm-12-col-md-12-col-lg-12-col-xl-12-xxl-12">
                <label for="" class="form-label">Password: </label>
                <input type="password" name="" id="password" class="form-control">
              </div>
              
              <div class="col-12-col-sm-12-col-md-12-col-lg-12-col-xl-12-xxl-12">
                 <div> </div>
                 <div>
                     <button class="btn btn-success"> Login </button>
                 </div>
              </div>
         </div>
      </form>
    </div>
</div>

