<app-navbar></app-navbar>
<!-- ----profile page ---- -->
<div class="profile-container">
    <img src="assets/images/cover.png" class="cover-img">
    <div class="profile-details">
        <div class="pd-left">
          <div class="pd-row">
             <img src="assets/images/profile.png" class="pd-image">
             <div>
                 <h3>Jack Nicholson</h3>
                 <p>9 followers</p>
                 <img src="assets/images/member-1.png">
                 <img src="assets/images/member-2.png">
                 <img src="assets/images/member-3.png">
                 <img src="assets/images/member-4.png">
                 <img src="assets/images/member-5.png">
                </div>
          </div>
      </div>
     <div class="pd-right">
         <button type="button"><img src="assets/images/add-friends.png">Follow</button>
         <button type="button"><img src="assets/images/add-friends.png">Message</button>
         <br>
         <a href=" "><img src="assets/images/more.png"></a>
      </div>
    </div>
 
  <div class="profile-info">
     <div class="info-col">
         <div class="profile-intro">
             <h3>About</h3>
             <p class="Intro text">If you don’t like the road you’re walking, start paving another one.</p><hr>
            
          </div>
          <div class="profile-intro">
             <div class="title-box">
                 <h3>Followers</h3>
             </div>
             <p>9 followers</p>
             <div class="photo-box">
                 <div><img src="assets/images/member-1.png"><p>Joseph N</p></div>
                 <div><img src="assets/images/member-2.png"><p>Nathan N</p></div>
                 <div><img src="assets/images/member-3.png"><p>George D</p></div>
                 <div><img src="assets/images/member-4.png"><p>Francis L</p></div>
                 <div><img src="assets/images/member-5.png"><p>Anthony E</p></div>
                 <div><img src="assets/images/member-6.png"><p>Micheal A</p></div>
                 <div><img src="assets/images/member-7.png"><p>Edward M</p></div>
                 <div><img src="assets/images/member-8.png"><p>Bradon C</p></div>
                 <div><img src="assets/images/member-9.png"><p>James Doe</p></div>
    
             </div>
          </div>
        </div>
    
    <div class="post-col">
        <div class="write-post-container">
            <div class="user-profile">
                <img src="assets/images/user5.jpg">
                <div>
                    <p>John Nicholson</p>
                </div>
            </div>
            <div class="post-input-container">
                <textarea rows="3" placeholder="What's on your mind,John?"></textarea>
            </div>
            <div>
                <button class="btn">Add Post</button>
            </div>
        </div>
       <div class="post-container">
          <div class="user-profile">
             <img src="assets/images/profile.png">
             <div>
                  <p>Jack Nicholson</p>
                 <small>June 24 2021, 13:40pm</small>
             </div>
          </div>
          <p class="post-text">
              <span>All my life I thought air was free. Until I bought a bag of chips.</span>
              <a href="#">#funny</a><a href="#">#bored</a><a href="#">#smile</a>
          </p>
         <div class= "post-row">
             <div class="activity-icons">
                 <div><img src="assets/images/like.png">120</div>
                 <div><img src="assets/images/comments.png">45</div>
                 <div><img src="assets/images/share.png">20</div> 
             </div>
         </div>
       </div>

       <div class="post-container">
        <div class="user-profile">
           <img src="assets/images/profile.png">
           <div>
                <p>Jack Nicholson</p>
               <small>June 24 2021, 13:40pm</small>
           </div>
        </div>
        <p class="post-text">
            <span>All my life I thought air was free. Until I bought a bag of chips.</span>
            <a href="#">#funny</a><a href="#">#bored</a><a href="#">#smile</a>
        </p>
       <div class= "post-row">
           <div class="activity-icons">
               <div><img src="assets/images/like.png">120</div>
               <div><img src="assets/images/comments.png">45</div>
               <div><img src="assets/images/share.png">20</div> 
           </div>
       </div>
     </div>


     <div class="post-container">
        <div class="user-profile">
           <img src="assets/images/profile.png">
           <div>
                <p>Jack Nicholson</p>
               <small>June 24 2021, 13:40pm</small>
           </div>
        </div>
        <p class="post-text">
            <span>All my life I thought air was free. Until I bought a bag of chips.</span>
            <a href="#">#funny</a><a href="#">#bored</a><a href="#">#smile</a>
        </p>
       <div class= "post-row">
           <div class="activity-icons">
               <div><img src="assets/images/like.png">120</div>
               <div><img src="assets/images/comments.png">45</div>
               <div><img src="assets/images/share.png">20</div> 
           </div>
       </div>
     </div>
    </div>
  </div>
</div>
