<app-navbar></app-navbar>
<!-- ----profile page ---- -->
<div class="profile-container">
    <img src="assets/images/cover.png" class="cover-img">
    <div class="profile-details">
        <div class="pd-left">
          <div class="pd-row">
             <img src="assets/images/profile.png">
             <div>
                 <h3>Jack Nicholson</h3>
                 <p>120 friends-20 mutual</p>
                 <img src="assets/images/member-1.png">
                 <img src="assets/images/member-2.png">
                 <img src="assets/images/member-3.png">
                 <img src="assets/images/member-4.png">
                 <img src="assets/images/member-5.png">
                </div>
          </div>
      </div>
     <div class="pd-right">
         <button type="button"><img src="assets/images/add-friends.png">Friend</button>
         <button type="button"><img src="assets/images/add-friends.png">Message</button>
         <br>
         <a href=" "><img src="assets/images/more.png"></a>
      </div>
    </div>
    <div class="profile-info">
     <div class="info-col">
         <div class="profile-intro">
             <h3>Intro</h3>
             <p class="Intro text">Believe in yourself and you can do unbelievable things.<img src="assets/images/feeling.png" alt=" "></p><hr>
             <ul>
                 <li><img src="assets/images/profile-job.png">Director at 99media Ltd</li>
                 <li><img src="assets/images/profile-study.png">Studies at Amity University</li>
                 <li><img src="assets/images/profile-study.png">Went to DPS Delhi</li>
                 <li><img src="assets/images/profile-home.png">Lives in Bangalore, India</li>
                 <li><img src="assets/images/profile-location.png">From Bangalore, India</li>
             </ul>
          </div>
        </div>
    <div class="profile-info">
    </div>
    <div class="profile-into">
    <div class="title-box">
    <h3>Friends</h3>
    <a href=" ">All Friends</a>
    </div>
    <p>120 (10 mutual)</p>
    <div class="photo-box">
    <div><img src="assets/images/member1.png"><p>Joseph N</p></div>
    <div><img src="assets/images/member2.png"><p>Nathan N</p></div>
    <div><img src="assets/images/member3.png"><p>George D</p></div>
    <div><img src="assets/images/member4.png"><p>Francis L</p></div>
    <div><img src="assets/images/member5.png"><p>Anthony E</p></div>
    <div><img src="assets/images/member6.png"><p>Micheal A</p></div>
    <div><img src="assets/images/member7.png"><p>Edward M</p></div>
    <div><img src="assets/images/member8.png"><p>Bradon C</p></div>
    <div><img src="assets/images/member9.png"><p>James Doe</p></div>
    
    </div>
    </div>
    
    
    </div>
    <div class="post-col">
    <div class="write-post-container">
    <div class="user-profile">
    <img src="assets/images/profile-pic.png">
    <div>
    <p>John Nicholson</p>
    <small>Public<i class="fas fa-caret-down"></i></small>
    </div>
    </div>
    <div class="post-input-container">
    <textarea rows="3" placeholder="What's on your mind, Jack?"></textarea>
    <div class="add-post-links">
    <a href="#"><img src="assets/images/live-video.png">Live Video</a>
    <a href="#"><img src="assets/images/photo.png">Photo/Video</a>
    <a href="#"><img src="assets/images/feeling.png">Feeling/Activity</a>
    </div>
    </div>
    <div class="post-container">
    <div class="post-row">
    <div class="user-profile">
    <img src="assets/images/profile-pic.png">
    <div>
    <p>John Nicholson</p>
    <span>June 24 2021, 13:40pm</span>
    </div>
    </div>
    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    <div>
    <p class="post-text">Subscribe <span>@Easy Tutorials</span> YouTube channel to watch more videos on website development and UI designs.<a
    href=" ">#EasyTutorials</a><a href=" ">#YouTubeChannel</a></p>
    <img src="assets/images/feed-image-1.png" class="post-img">
    <div class="post-row">
    <div class="activity-icons">
    <div><img src="assets/images/like-blue.png">120</div>
    <div><img src="assets/images/comments.png">45</div>
    <div><img src="assets/images/share.png">20</div>
    </div>
    <div class="post-profile-icon">
    <small><img src="assets/images/profile-pic.png"><i class="fas fa-caret-down"></i></small>
    </div>
    </div>
    </div>
    <div class="post-container">
    <div class="post-row">
    <div class="user-profile">
    <img src="assets/images/profile-pic.png">
    <div>
    <p>Kohn Nicholson</p>
    <span>June 24 2021, 13:40pm</span>
    </div>
    </div>
    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>
    <p class="post-text">Like and share this video with friends, tag<span>@Easy Tutorials</span> facebook page on your post. Ask you doubts in the comments<a href=" ">#EasyTutorials</a> <a href=" ">#Subscribe</a></p>
    <img src="assets/images/feed-image-2.png" class="post-img">
    <div class="post-row">
    <div class="activity-icons">
    <div><img src="assets/images/like.png">120</div>
    <div><img src="assets/images/comments.png">45</div>
    <div><img src="assets/images/share.png">20</div>
    </div>
    <div class="post-profile-icon">
    <small><img src="assets/images/profile-pic.png"><i class="fas fa-caret-down"></i></small>
    </div>
    </div>
    </div>
    <div class="post-container">
    <div class="post-row">
    <div class="user-profile">
    <img src="assets/images/profile-pic.png">
    <div>
    <p>John Nicholson</p>
    <span>June 24 2021, 13:40 pm</span>
    </div>
    </div>
    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
    </div>